<div class="content">
  <h1>List of Subjects</h1>
  <hr>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>No. of Units</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |sub| %>
        <tr>
          <td><%= sub.name %></td>
          <td><%= sub.code %></td>
          <td><%= sub.num_units %></td>
          <td>
            <%= link_to "Edit", edit_subject_path(subject.id) %>
            <%= link_to "Delete", subject_path(subject.id), method: :delete, confirm: "Are you sure?" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
